[defaults]
inventory = ./hosts
remote_user = deploy
interpreter_python = /usr/local/bin/python3.12

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=15m -o StrictHostKeyChecking=accept-new
pipelining = True
