{{ define "title" }}Sign up{{ end }}

{{ define "body" -}}
  <h1 class="mt-4 mb-2 text-center text-2xl font-bold tracking-tight">
    Sign up for Discord
  </h1>
  <a
    href="/"
    class="mb-2 inline-block text-gray-600 underline underline-offset-2"
    >&lt;&lt; Back</a
  >
  <form action="/join" method="POST">
    <div class="grid gap-6">
      <div class="grid gap-2">
        <label class="font-bold" for="email">
          Email: <span class="text-red-600">*</span></label
        >
        <input
          type="text"
          name="email"
          id="email"
          autocomplete="email"
          class="form-control"
          autofocus
        />

        {{ if .Errors.Get "email" }}
          <span class="error-explanation">{{ .Errors.Get "email" }}</span>
        {{ end }}
      </div>

      <div class="grid gap-2">
        <label class="font-bold" for="name">
          Name or nickname: <span class="text-red-600">*</span></label
        >
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="name"
          class="form-control"
        />

        {{ if .Errors.Get "name" }}
          <span class="error-explanation">{{ .Errors.Get "name" }}</span>
        {{ end }}
      </div>

      <div class="grid gap-2">
        <label class="font-bold" for="region">
          Country or region:
          <span class="text-sm font-normal text-gray-600"
            >(optional)</span
          ></label
        >
        <select
          name="region"
          class="h-9 w-full rounded-md border bg-white px-3 py-1 text-base shadow-sm focus-visible:ring-1 focus-visible:outline-none"
          autocomplete="country"
        >
          <option value="">&mdash;</option>
          {{ range .Countries }}
            <option value="{{ .Value }}">{{ .Label }}</option>
          {{ end }}
        </select>
        {{ if .Errors.Get "region" }}
          <span class="error-explanation">{{ .Errors.Get "region" }}</span>
        {{ end }}
      </div>

      <div class="grid gap-2">
        <label class="font-bold" for="bio"
          >Is there anything you would like to share with me or others?
          <span class="text-sm font-normal text-gray-600"
            >(optional)</span
          ></label
        >
        <textarea
          name="bio"
          id="bio"
          class="rounded-md border bg-white px-3 py-2 text-base shadow-sm focus-visible:ring-1 focus-visible:outline-none"
          rows="5"
          placeholder="You, Sir, are a disgrace to the profession of a YouTuber. Damned be the day when you started your channel."
        ></textarea>
      </div>

      <button
        type="submit"
        class="cursor-pointer rounded-md bg-gray-600 px-3 py-2 font-semibold text-white transition hover:bg-gray-500"
      >
        Submit
      </button>
    </div>
  </form>
{{- end }}
