{{define "title"}}Join the waiting list{{end}}

{{ define "body" -}}
<h1>Hello world!</h1>

<p>There are currently <strong>{{ . }}</strong> people on the waiting list.</p>

<a href="/join" class="btn cta">Join the waiting list</a>
{{- end}}
