{{ define "title" }}Great success{{ end }}

{{ define "body" }}
  <h1 class="mt-6 text-center text-4xl leading-tight font-bold">Success!</h1>

  <p>
    You have successfully signed up for the waiting list. I will let you know
    per e-mail once we reach the threshold of <strong>100</strong> people.
  </p>

  <p>In the meantime, maybe you could share the channel with your friends?</p>

  <p><a href="/">Back to homepage</a></p>
{{ end }}
